.organic__vegetables{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.order{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}